

<%= render 'pages/map', cbos: @cbos %>

<div id="map_wrapper">
   <div id="map"></div>

   <div id="over_map">
      <p>
         <center>
            <h3>Filter</h3>

            <%= form_tag pages_home_path, :method => :get do %>
            <%= select_tag "category", options_from_collection_for_select(@categories, "name", "name", params[:category]), :prompt => "All Categories" %>
            <br /><br />
            <%= submit_tag "Apply Filter", :name => nil%>
            <% end %>	
        </center>
    </p>
</div> 
</div>



<% if !student_signed_in? %>

<div id="signup-bar">
   <h2>Discover fulfilling volunteer opportunities - with your friends, in your community.</h2>

</div>
<% end %>
