<div class="container">
	<div id="content">
    	<h2>All Organizations</h2>
        
        <div class="clearfix"></div>
        
        <div style="padding-left: 50px">
    		<%= form_tag cbos_path, :method => :get do %>
    			<%= select_tag "category", options_from_collection_for_select(@categories, "name", "name", params[:category]), :prompt => "All Categories" %>
    			<%= submit_tag "Filter", :name => nil, :class => "btn" %>
    		<% end %>
        </div>
		<br />
        <div class="push"></div>
        
		<%= render 'cbos/boxes', cbos: @cbos %>



        
        <div class="push"></div>
        



<br /><br />
    </div>


</div>



