<div class="container">
	<div id="content">
    	<h2>Organizations near <%= @user_location %></h2>
        
        <div class="clearfix"></div>
        
        

		<br />
        <div class="push"></div>
        
		<%= render 'cbos/boxes', cbos: @cbos %>



        
        <div class="push"></div>
        



<br /><br />
    </div>


</div>



